#welcome-page-view {
    width: 100%;
    height: 100%;
    background-color: blue;
}

#welcomeText {
    color: brown;
}

#loginAccountButtonStyle {
    
}

#createAccountButtonStyle {

}

.languageOption {
    padding: 10px;
    cursor: pointer;
}

.languageOption:hover {
    background-color: #f0f0f0;
}

.languageOption.selected {
    background-color: #d0d0d0;
    font-weight: bold;
}